.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 10px;
}

.price {
  color: grey;
  font-size: 18px;
}

#data {
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 440px;
}

#movie {
  width: 68%;
  margin-left: 15px;
  margin-right: 5px;
}

#search {
  width: 23%;
  margin-right: 40px;
  margin-left: 15px;
}