.contentTable {
    border-top: none;
}

td {
    width: 100px;
    text-align: center;
}

.displayNone {
    display: none;
}

input {
    height: 34px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.container {
    float: left;
    width: 27%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 30px auto;
    border-color: rgb(87, 87, 87);
}

